<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="ds.web.practice" />
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/post.controller"/>
			<bean class="ds.web.practice.interceptor.LoginVerifyInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="/WEB-INF/conf/spring/views.xml"/>
	</bean>
	<!-- 注入 SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入Hibernate 配置文件路徑,前面要加上 classpath: -->
		<property name="configLocation" value="classpath:/hibernate/hibernate.cfg.xml" />
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jndi/hibernate</value>
		</property>
	</bean>
	<!-- begin Transaction by Spring -->
	<tx:annotation-driven transaction-manager="txManager"/>
	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
